* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #b4d9e5;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.p-count, .c-count {
    text-align: center;
}